<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="An.stop"
      android:versionName="1.2" android:versionCode="07">
      
      <uses-permission android:name="android.permission.VIBRATE" />
      
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowClearUserData="true" android:debuggable="false">
        <activity android:name=".Anstop"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name="settingsActivity" android:launchMode="standard"></activity>
<activity android:name="loadActivity"></activity>
<activity android:name="showTimesActivity"></activity>
</application>
    <uses-sdk android:minSdkVersion="3" />



</manifest> 